<!-- <h2 class="font-medium" mat-dialog-title><strong>{{action}}</strong></h2> -->
<mat-dialog-content class="pb-3" *ngIf="action !== 'Delete'; else elseTemplate">
    <h2 class="font-medium" mat-dialog-title *ngIf="action == 'Add'"><strong>Ajout d'un Produit</strong></h2>
    <h2 class="font-medium" mat-dialog-title *ngIf="action == 'Update'"><strong>Modification d'un produit</strong></h2>
    <form #userForm="ngForm">
        <div fxLayout="row wrap" class="align-items-center">
            <div fxFlex="100" fxFlex.gt-md="100">
                <div class="m-r-100 m-l-100">
                    <mat-form-field>
                        <input type="text" matInput required id="name" name="name" [(ngModel)]="local_data.doc.name"
                            placeholder="Nom du produit" />
                    </mat-form-field>
                </div>
            </div>
       
            <div fxFlex="100" fxFlex.gt-md="100">
                <div class="m-r-100 m-l-100">
                    <mat-form-field>
                        <mat-select placeholder="Categorie de Produit" [(ngModel)]="local_data.category" required
                            id="category" name="category">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="searchFilterCtrl">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let cat of filterCaegories  | async" [value]="cat.id">
                                {{cat?.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
       
            <div fxFlex="100" fxFlex.gt-md="100">
                <div class="m-r-100 m-l-100">
                    <mat-form-field>
                        <mat-select placeholder="Unité de Produit" [(ngModel)]="local_data.unity" required
                            id="unity" name="unity">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="searchFilterUnityCtrl">
                                </ngx-mat-select-search>
                            </mat-option>
                            <mat-option *ngFor="let unity of filterUnity  | async" [value]="unity.id">
                                {{unity?.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        
            <div fxFlex="100" fxFlex.gt-md="100">
                <div class="m-r-100 m-l-100">
                    <mat-form-field>
                        <input type="number" matInput required id="seuil" name="seuil" [(ngModel)]="local_data.doc.seuil"
                            placeholder="Seuil du produit" />
                    </mat-form-field>
                </div>
            </div>
        
            <div fxFlex="100" fxFlex.gt-md="100">
                <div class="m-r-100 m-l-100">
                    <mat-form-field>
                        <input type="number" matInput required id="selling_price" name="selling_price" [(ngModel)]="local_data.doc.selling_price"
                            placeholder="Prix de vente du produit" />
                    </mat-form-field>
                </div>
            </div>
       
            <div fxFlex="100" fxFlex.gt-md="100">
                <div class="m-r-100 m-l-100">
                    <mat-form-field>
                        <input type="number" matInput required id="buying_price" name="buying_price" [(ngModel)]="local_data.doc.buying_price"
                            placeholder="Prix d'achat du produit" />
                    </mat-form-field>
                </div>
            </div>
        </div>
        <button mat-button (click)="doAction()" mat-flat-button color="warn" [disabled]="!userForm.valid">
            {{action == 'Add'?'Ajouter':"Modifier"}}
        </button>
        <button mat-button (click)="closeDialog()">Annuler</button>
    </form>
</mat-dialog-content>
<ng-template #elseTemplate>
    <h2 class="font-medium" mat-dialog-title>Suppression du produit</h2>
    <p>Etes-vous sur de vouloir Supprimer <b>{{local_data.doc.name}}</b> ?</p>
    <div mat-dialog-actions align="end" class="pt-3">
        <button mat-button (click)="doAction()" mat-flat-button color="warn">Oui</button>
        <button mat-button (click)="closeDialog()">Non</button>
    </div>
</ng-template>