<div fxLayout="row wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
      <mat-card>
        <mat-card-content>
          <mat-card-title>
            <div fxFlex.gt-md="100" class="text-right">
              <div fxFlex.gt-md="25" fxFlex.gt-lg="25" fxFlex="100">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Rechecher" />
                </mat-form-field>
              </div>
              <div fxFlex.gt-md="75" class="text-right">
                <span *ngIf="dataSource.data.length>0">
                  <button mat-raised-button (click)="print()" class="m-r-10" color="primary">
                    <i class="fa fa-print" aria-hidden="true"></i>
                    Imprimer
                  </button>
                </span>
                <button mat-raised-button color="primary" (click)="openDialog('Add', {})">
                  Ajouter un Produit
                </button>
              </div>
  
            </div>
          </mat-card-title>
          <div class="table-responsive">
            <mat-table [dataSource]="dataSource" matSort>
              <!-- ID Column -->
              <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef mat-sort-header> N° </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.num }} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nom </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Categories </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.category.name }} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="unity">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Unité </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.unity.name }} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="seuil">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Seuil </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.seuil }} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="selling_price">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Prix de Vente </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.selling_price }} </mat-cell>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="buying_price">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Prix d'achat </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{ row.buying_price }} </mat-cell>
              </ng-container>
              <!-- Action -->
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
                <mat-cell *matCellDef="let element" class="action-link">
                  <div class="profile-text">
                    <button color="primary" mat-raised-button [matMenuTriggerFor]="sdprofile"
                      class="d-flex align-items-center">
                      Action
                      <i class="ti-angle-down font-12 ml-auto"></i>
                    </button>
                  </div>
                  <mat-menu #sdprofile="matMenu" class="mymegamenu text-dark">
                    <div mat-menu-item (click)="openDialog('Update', element)">
                      <i class="fa fa-edit" aria-hidden="true"></i>
                      Modifier
                    </div>
                    <div mat-menu-item (click)="openDialog('Delete', element)" class=" p-t-0 text-danger">
                      <i class="fa fa-trash" aria-hidden="true"></i>
                      Supprimer
                    </div>
                  </mat-menu>
                </mat-cell>
              </ng-container>
  
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns"> </mat-row>
            </mat-table>
  
            <mat-paginator [pageSizeOptions]="[5, 10, 25,50, 100]"></mat-paginator>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>