<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <a href="javascript:void" >
      <mat-card class="bg-info text-white text-center">
        <div class="p-10">
        <div class="d-flex">
          <div class="m-r-10">
            <mat-icon>transfer_within_a_station</mat-icon>
          </div>
          <div>
            <h2 class="m-0">Fournisseurs</h2>
            <small>Gestion des fournisseurs</small>
          </div>
        </div>
        </div>
      </mat-card>
    </a>
  </div>
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <a href="javascript:void" >
      <mat-card class="bg-purple text-white text-center">
        <div class="p-10">
        <div class="d-flex">
          <div class="m-r-10">
            <mat-icon>group</mat-icon>
          </div>
          <div>
            <h2 class="m-0">Clients</h2>
            <small>Gestion des Clients</small>
          </div>
        </div>
        </div>
      </mat-card>
    </a>
  </div>
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <a href="javascript:void" >
      <mat-card class="bg-megna text-white text-center">
        <div class="p-10">
        <div class="d-flex">
          <div class="m-r-10">
            <mat-icon>local_offer</mat-icon>
          </div>
          <div>
            <h2 class="m-0">Produits</h2>
            <small>Gestion des produits</small>
          </div>
        </div>
        </div>
      </mat-card>
    </a>
  </div>
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <a href="javascript:void" >
      <mat-card class="bg-inverse text-white text-center">
        <div class="p-10">
        <div class="d-flex">
          <div class="m-r-10">
            <mat-icon>assignment_ind</mat-icon>
          </div>
          <div>
            <h2 class="m-0">Employés</h2>
            <small>Gestion des employés</small>
          </div>
        </div>
        </div>
      </mat-card>
    </a>
  </div>
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <a href="javascript:void" >
      <mat-card class="bg-warning text-white text-center">
        <div class="p-10">
        <div class="d-flex">
          <div class="m-r-10">
            <mat-icon>note_add</mat-icon>
          </div>
          <div>
            <h2 class="m-0">Achat</h2>
            <small>Gestion des Achats</small>
          </div>
        </div>
        </div>
      </mat-card>
    </a>
  </div>
  <!-- column -->
  
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <a href="javascript:void" >
      <mat-card class="bg-success text-white text-center">
        <div class="p-10">
        <div class="d-flex">
          <div class="m-r-10">
            <mat-icon>event_note</mat-icon>
          </div>
          <div>
            <h2 class="m-0">Commandes</h2>
            <small>Gestion des commandes</small>
          </div>
        </div>
        </div>
      </mat-card>
    </a>
  </div>
  
   <!-- column -->
   <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <a href="javascript:void" >
      <mat-card class="bg-danger text-white text-center">
        <div class="p-10">
        <div class="d-flex">
          <div class="m-r-10">
            <mat-icon>account_balance</mat-icon>
          </div>
          <div>
            <h2 class="m-0">Stock</h2>
            <small>Gestion des stocks</small>
          </div>
        </div>
        </div>
      </mat-card>
    </a>
  </div>
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <a href="javascript:void" >
      <mat-card class="bg-danger text-white text-center">
        <div class="p-10">
        <div class="d-flex">
          <div class="m-r-10">
            <mat-icon>business</mat-icon>
          </div>
          <div>
            <h2 class="m-0">Caisse</h2>
            <small>Gestion des caisses</small>
          </div>
        </div>
        </div>
      </mat-card>
    </a>
  </div>
   <!-- column -->
   <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <a href="javascript:void" >
      <mat-card class="bg-info text-white text-center">
        <div class="p-10">
        <div class="d-flex">
          <div class="m-r-10">
            <mat-icon>monetization_on</mat-icon>
          </div>
          <div>
            <h2 class="m-0">Depenses</h2>
            <small>Gestion des depenses</small>
          </div>
        </div>
        </div>
      </mat-card>
    </a>
  </div>
  <!-- column -->
  
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <a href="javascript:void" >
      <mat-card class="bg-megna text-white text-center">
        <div class="p-10">
        <div class="d-flex">
          <div class="m-r-10">
            <mat-icon>attach_money</mat-icon>
          </div>
          <div>
            <h2 class="m-0">Comptes</h2>
            <small>Gestion des comptes</small>
          </div>
        </div>
        </div>
      </mat-card>
    </a>
  </div>
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <a href="javascript:void" >
      <mat-card class="bg-inverse text-white text-center">
        <div class="p-10">
        <div class="d-flex">
          <div class="m-r-10">
            <mat-icon>local_shipping</mat-icon>
          </div>
          <div>
            <h2 class="m-0">Arrivages</h2>
            <small>Gestion des arrivages</small>
          </div>
        </div>
        </div>
      </mat-card>
    </a>
  </div>
  <!-- column -->
  <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
    <a href="javascript:void" >
      <mat-card class="bg-megna text-white text-center">
        <div class="p-10">
        <div class="d-flex">
          <div class="m-r-10">
            <mat-icon>home</mat-icon>
          </div>
          <div>
            <h2 class="m-0">Magasin</h2>
            <small>Gestion des magasin</small>
          </div>
        </div>
        </div>
      </mat-card>
    </a>
  </div>
</div> 