
<!-- ============================================================== -->
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="bg-info">
      <mat-card-content>
        <!-- column -->
        <div class="d-flex no-block">
          <div class="stats">
            <h1 class="text-white m-0">Fournisseurs</h1>
            <h6 class="text-white m-t-0">Gestion des fournisseurs </h6>
            <button mat-raised-button>Cliquez ici</button>
          </div>
          <div class="stats-icon text-right ml-auto">
            <mat-icon class="display-5 op-3 text-white">transfer_within_a_station</mat-icon>
            <!-- <i class="fa fa-twitter display-5 op-3 text-white"></i> -->
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="bg-purple">
      <mat-card-content>
        <!-- column -->
        <div class="d-flex no-block">
          <div class="stats">
            <h1 class="text-white m-0">Clients</h1>
            <h6 class="text-white m-t-0">Gestion des clients</h6>
            <button mat-raised-button color="primary" routerLink="/produits/produit">Cliquez ici</button>
          </div>
          <div class="stats-icon text-right ml-auto">
            <!-- <i class="fa fa-facebook display-5 op-3 text-white"></i> -->
            <mat-icon class="display-5 op-3 text-white">group</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="bg-success">
      <mat-card-content>
        <!-- column -->
        <div class="d-flex no-block">
          <div class="stats">
            <h1 class="text-white m-0">Produits</h1>
            <h6 class="text-white m-t-0">Gestion des produits</h6>
            <button mat-raised-button routerLink="/produits/produit">Cliquez ici</button>
          </div>
          <div class="stats-icon text-right ml-auto">
            <!-- <i class="fa fa-envelope display-5 op-3 text-white"></i> -->
            <mat-icon class="display-5 op-3 text-white">local_offer</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->

  <!-- column -->
</div>
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="bg-warning">
      <mat-card-content>
        <!-- column -->
        <div class="d-flex no-block">
          <div class="stats">
            <h1 class="text-white m-0">Achats</h1>
            <h6 class="text-white m-t-0">Gestion des achats </h6>
            <button mat-raised-button>Cliquez ici</button>
          </div>
          <div class="stats-icon text-right ml-auto">
            <mat-icon class="display-5 op-3 text-white">note_add</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="bg-megna">
      <mat-card-content>
        <!-- column -->
        <div class="d-flex no-block">
          <div class="stats">
            <h1 class="text-white m-0">Ventes</h1>
            <h6 class="text-white m-t-0">Gestion des ventes</h6>
            <button mat-raised-button color="primary">Cliquez ici</button>
          </div>
          <div class="stats-icon text-right ml-auto">
            <mat-icon class="display-5 op-3 text-white">event_note</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="bg-danger">
      <mat-card-content>
        <!-- column -->
        <div class="d-flex no-block">
          <div class="stats">
            <h1 class="text-white m-0">Stocks</h1>
            <h6 class="text-white m-t-0">Gestion des stocks</h6>
            <button mat-raised-button>Cliquez ici</button>
          </div>
          <div class="stats-icon text-right ml-auto">
            <mat-icon class="display-5 op-3 text-white">account_balance</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->

  <!-- column -->
</div>
<div fxLayout="row wrap">
  <!-- column -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="bg-inverse">
      <mat-card-content>
        <!-- column -->
        <div class="d-flex no-block">
          <div class="stats">
            <h1 class="text-white m-0">Arrivages</h1>
            <h6 class="text-white m-t-0">Gestion des arrivages </h6>
            <button mat-raised-button>Cliquez ici</button>
          </div>
          <div class="stats-icon text-right ml-auto">
            <mat-icon class="display-5 op-3 text-white">local_shipping</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="bg-danger">
      <mat-card-content>
        <!-- column -->
        <div class="d-flex no-block">
          <div class="stats">
            <h1 class="text-white m-0">Livraison</h1>
            <h6 class="text-white m-t-0">Gestion des livraison</h6>
            <button mat-raised-button color="primary">Cliquez ici</button>
          </div>
          <div class="stats-icon text-right ml-auto">
            <mat-icon class="display-5 op-3 text-white">local_shipping</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->
  <!-- column -->
  <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
    <mat-card class="bg-info">
      <mat-card-content>
        <!-- column -->
        <div class="d-flex no-block">
          <div class="stats">
            <h1 class="text-white m-0">Caisses</h1>
            <h6 class="text-white m-t-0">Gestion des Caisses</h6>
            <button mat-raised-button>Cliquez ici</button>
          </div>
          <div class="stats-icon text-right ml-auto">
            <mat-icon class="display-5 op-3 text-white">monetization_on</mat-icon>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- column -->

  <!-- column -->
</div>